*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* header */

.header{
    min-height: 500px;
    width: 100%;
    background: rgb(227, 241, 239);
    color: aliceblue;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.nom{
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 9%;
    z-index: 1;
    color: rgb(17, 46, 109);
}

.nav-liens{
    text-align: right;
   background: linear-gradient(0.25turn, #43b352, #ebf8e1);
   padding: 10px 30px;
   border-bottom-left-radius: 20px;
}

.nav-liens ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}

.nav-liens ul li a{
    
   text-decoration: none;
   color: seashell;
   font-weight: bold;
  }

  .sidebar-gauche{
      width: 20%;
      height: 100%;
      background: linear-gradient(0.25turn, #43b352, #ebf8e1);
      position: absolute;
      left: 0;
      top: 0;

  }

  /* Presentation */

  .presentation{
      padding: 0 10px;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      position: relative;
      margin-top: 5%;
      width: 80%;
  }

  .photo-fatou1{
   
   width: 100%;
   height: 264px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
  .photo-fatou1 img{
      width: 60%;
      /* height: 364px; */
      cursor: pointer;
      filter:grayscale(0);
      transition: filter 1s;
      border-radius: 30px;
      margin-right: none;

  }

  .photo-fatou1 img:hover {
    
    filter:grayscale(1);
}

  .apropos{
     color: rgb(17, 46, 109);
margin-left: none;
  }

  .apropos h3{
      font-size: 40px;
      line-height: 40px;
     margin: 20px 0 40px;
  }

  

  /* Contact */
.contact{
    width: 700px;
    margin: auto;
  }
  .contact h4{
  width: 500px;
  padding-top: 30px;
    margin: auto;
    line-height: 30px;
    text-align: center;
  }
  .different-contact a, .ensemble-contact{
    display: flex;
    justify-content: space-around;
  
  }
  .different-contact{
      margin-top: 10px;
  }
  .different-contact img {
    padding-bottom: 30px;
    height: 40px;
  }


  /* Compétences */

  .competence{

    background: linear-gradient(0.25turn, #43b352, #ebf8e1);
    height: 100px;
    color: snow;
    text-align: center;
    padding-top: 30px;
  }

   .competences div{
     color: steelblue;
      padding: 50px 40px;
      height: 100px;
      font-weight: bold;
  } 

  .competence1 img{
    width: 100px;
    border-radius: 60%;
  }

  .competence1, .prestation1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* PRESTATION */
#prestation, .mode , .titre-slider{
  color:#43b352;
    margin: 50px auto 50px;
    text-align: center;
}

.presentation-prestations {
  width: 80%;
  padding: 0 20px 30px;
  text-align: justify;
  margin: auto;
}
.prestations {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    

    }
     .reglement, .competences{
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: auto;
      
  
      }
    
    .prestation5{
    width: 30%;
    height: 180px;
    background-image: url("img/repassage.jpeg");
    background-size:cover;
    background-repeat:no-repeat ;
    border-radius: 50px;
    padding: 25px 20px;
    margin: 20px;
    }

    .prestation2{
      width: 30%;
      height: 180px;
      background-image: url("img/nettoyage.jpg");
      background-size:cover;
      background-repeat:no-repeat ;
      border-radius: 50px;
      padding: 25px 20px;
      margin: 20px;
      }
    
      .prestation3{
        width: 30%;
        height: 180px;
        background-image: url("img/cuisine.jpg");
        background-size:cover;
        background-repeat:no-repeat ;
        border-radius: 50px;
        padding: 25px 20px;
        margin: 20px;
        }

        .prestation4{
          width: 30%;
          height: 180px;
          background-image: url("img/Cources.jpg");
          background-size:cover;
          background-repeat:no-repeat ;
          border-radius: 50px;
          padding: 25px 20px;
          margin: 20px;
          }

          .prestation1 p{
            padding-top: 5px;
            display: flex;
            justify-content: center;
            font-size:30px;
            font-weight: bold;
            color: rgb(6, 6, 139)
          }
     .prestation2 p, .prestation3 p, .prestation4 p,.prestation5 p{
      display: flex;
    justify-content: center;
    font-size:30px;
    font-weight: bold;
    color: rgb(6, 6, 139)
    }


    /* Reglement */

    .mode{

      font-size: 30px;
    }
    .img-reglement img{
        width: 80px;
        height: 50px;
       
      }
  
     .mode,  .titre-slider{
        margin-top: 150px;
      }

      .informations-reglements{
        font-size: 12px;
        width: 80%;
        padding: 40px 20px 30px;
        text-align: justify;
        margin: auto;
        color: rgb(56, 56, 168);
      }
/* img-slider */
.img-slider{
    width: 500px;
    height: 300px;
    margin:50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    background-repeat: no-repeat;
    animation: slider 15s ease-in-out infinite both;

}
 @keyframes slider{
   0%{background-image: url("img/agence1.png");}
   34%{background-image: url("img/agence2.png");}
   65%{background-image: url("img/agence1.png");}
   100%{background-image: url("img/agence1.png");}
 }


    /* Footer */

    #footer {
        margin-top: 15px;
        padding: 30px 30px;
        background: linear-gradient(0.25turn, #43b352, #ebf8e1);
        color: lightgrey;
      }

      #footer p:nth-child(1){
          font-size: 30px;
          font-weight: bold;
       text-align: center;
       margin-bottom: 30px;
       color: rgb(6, 6, 139);
      }

      /*les écrans de largeur inférieure à 992 pixels*/
     /* Media SCREEN */

@media screen and (max-width: 992px){

  body{
    background-color: rgb(217, 240, 232);
  }

  nav,.nav-liens, .competence, .sidebar-gauche, #footer{
    background-color: rgb(29, 194, 139);
  }


.apropos {
  width: 75%;
  margin: auto;
  text-align: justify;
}

.photo-fatou1 img{
  width: 90%;
  transform: translate(-5px,-188px);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.competences, .contact{
  width: 100%;
}
.contact h4{
  text-align: left;
}
 .competences{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ensemble-contact,.prestations{
  display: flex;
  flex-wrap: wrap;
}
}    
      /*les écrans de largeur inférieure à 768 pixels*/
      @media(max-width: 768px){
        body{
          background-color: rgb(244, 250, 248);
        }
      
        nav,.nav-liens, .competence, .sidebar-gauche, #footer{
          background-color: rgb(226, 207, 34);
        }

        .photo-fatou1 img{
          transform: translate(200px,-500px);
          width: 100px;
          margin-top: 15px;
        }
      }